.user {
    background-color: var(--woodLight);
    background-color: var(--primary);
    background-color: #f9a361;
    margin: 7px;
    padding: 7px 20px;
    color: white;
}

.edit-btn {
    /* background-color: rgb(65, 125, 65); */
    background-color: darkblue;
}