.user {
    background-color: var(--woodLight);
    background-color: var(--primary);
    background-color: #f9a361;
    background-color: rgb(40, 164, 125);
    /* background-color: #faaf75; */
    /* background-color: #d46815; */
    margin: 7px;
    padding: 7px 20px;
    color: white;
}

.user:hover {
    background-color: #f9a361;
    background-color: #d46815;
    background-color: rgb(160, 192, 198);
    background-color: rgb(83, 211, 170);


}

.edit-btn {
    /* background-color: rgb(65, 125, 65); */
    background-color: darkblue;
    background-color: rgb(36, 138, 158);
}

.user-collection {
    display: flex;
    gap: 5px;
}