.collection-title {
    padding: 20px 0;
    margin-bottom: 0;
    /* max-height: 30px; */
    min-width: 175px;
}

.artwork-collection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.artwork-collection-card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.artwork-card-details {
    max-width: 250px;
}

.artwork-card-detail {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.5px;
}

.artwork-title {
    font-style: italic;
}

.artwork-card-image {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* border: 4px solid #a55f2a; */
}

.artwork-image {
    /* flex-basis: 30%; */
    /* border: 4px solid #a55f2a; */
    border: 3px solid white;
    box-sizing: border-box;
    max-width: 250px;
    max-height: 250px;
    position: relative;
}

.artwork-image:hover {
    border: 4px solid #f78d3c;
    /* border: 4px solid #ca6f29; */
    /* border: 3px solid darkblue; */
    /* border: 3px solid rgb(13, 55, 13); */
    cursor: pointer;
    /* max-width: 265px; */
    /* max-height: 265px; */
}

.artwork-image-detail {
    /* flex-basis: 30%; */
    border: 3px solid #a55f2a;
    max-width: 250px;
}

.artwork-details-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.artwork-detail {
    text-align: left;
    max-width: 400px;
}

.detail-description {
    font-weight: bold;
    color: rgb(199, 94, 20);
    /* max-width: 300px; */
}

.collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.add-artwork-btn {
    /* background-color: #f78d3c; */
    background-color: #f49e5d;
    min-width: 110px;
    width: 120px;
    max-height: 40px;
}

.delete-btn-icon {
    background-color: rgb(193, 65, 6);
    margin: 3px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artwork-details-header {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.filter-groups {
    display: flex;
    gap: 5px;
}

.filter-by-group label {
    margin: 0 5px;
}

.filter-input-group input {
    padding-left: 10px;
}

.image-container {
    position: relative;
}

.delete-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(61, 20, 1);
    font-size: 25px; 
}

.favorite-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: var(--primary);
    font-size: 25px;
    /* background: rgba(0, 0, 0, 0.5) */
}

/* <i class="fa-light fa-star"></i> */
.btn-all-artworks {
    /* background-color: var(--woodLight); */
    background-color: rgb(193, 65, 6);
    background-color: rgb(69, 94, 99);
}

.artworks-toggle {
    display: flex;
    gap: 5px;
    align-items: center;
}

.filter-by-group {
    display: flex;
}

.filter-input {
    width: 7rem
}

.title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-options {
    background-color: rgb(228, 224, 224);
    border: none;
    padding-left: 2px;
}

.filter-options:hover {
    cursor: pointer;
}