@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--wood);
    background-color: rgb(13, 55, 13);
    margin: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--white);
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Baskervville SC", sans-serif;
    letter-spacing: 2px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }