.submit-btn {
   background-color: var(--woodLight);
   background-color: #f78d3c;
   width: 10rem;
   margin: auto;
}

.save-btn {
   background-color: rgb(73, 95, 73);
   padding: 15px;
   width: 150px;
   margin: auto;
   border-radius: 4px;

}

/* .profile-update {
   background-color:rgb(193, 183, 179);
   background-color: rgb(184, 195, 188);
   border-radius: 2px;
   border: 1px solid rgb(73, 95, 73);
   box-shadow: none;
} */

/* .profile-update input {
   background-color: rgb(233, 234, 233);
   height: 25px;
   border: 1px solid rgb(73, 95, 73);
} */

.form-control {
   padding-left: 20px;
}


.form-group select {
   padding: 8px;
}

.form-group input {
   height: 20px;
}



.form-select-elements {
   display: flex;
}

.form-select-element {
   display: flex;
   justify-content: center;

}

.form {
   padding: 0px;
}

.form-group {
   width: 50%;
}
.image-url {
   width: 100%;
}

.artwork-cityViewed,
.artwork-locationViewed,
.artwork-dateViewed,
.artwork-notes {
   margin: auto;
   width: 80%;
}

.submit {
   margin: auto;
}

.artwork-form-header {
   margin: 30px;
   padding: 20px;
   border-bottom: 3px solid #1f471f;
}